﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="navbar nav">
        <li class="nav-item">
            <a id="logOffLink" class="nav-link">Log off</a>
        </li>

    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item"><a href="~/Register.html" class="nav-link">Register</a></li>
        <li class="nav-item"><a href="~/Login.html" class="nav-link">Login</a></li>
    </ul>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#logOffLink').click(function () {
            $.ajax({
                url: 'api/Account/Logout',
                method: 'POST',
                success: function () {
                    document.cookie.split(";").forEach(function (c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
                    sessionStorage.removeItem('accessToken');
                    window.location.href = "Login.html";
                },
                error: function (jqXHR) {
                    alert(jqXHR);
                }
            });
        });
    });
</script>